h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

/* table {
  width: 500px;
  height: 200px;
  margin: auto
  
} */

.art {
  margin: auto;
}
td {
  width: 100px;
  height: 250px;
  border: 6px solid white;
}

/* #row1 {
  width: 70%;
} */

#col1 {
  background-color: #46B1C9;
}

#col2 {
  background-color: #84C0C6;
}

#col3 {
  background-color: #9FB7B9;
}

#col4 {
  background-color: #BCC1BA;
}

#col5 {
  background-color: #F2E2D2;
}