h1 {
  font-family: cursive;
  text-align: center;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: italic;
  font-weight: bold;
}

body {
  font-size: 20px
}

#two {
  /* this is in ratio with default font size */
  font-size: 1.1em; 
}